<!-- First Row -->

<div class="row panel-body">

    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
            <!-- Success panel contents -->
            <div class="panel-heading text-center"><strong><span class="fa fa-star-half-o">&nbsp;</span>Edit Addon Service</strong></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text"  ng-model="addonService.name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Lump Fee Accepted?</label>
                        <div class="col-md-6">
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_lump_accepted" ng-model="addonService.is_lump_accepted" value="YES" />YES</label>
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_lump_accepted" ng-model="addonService.is_lump_accepted" value="NO" />NO</label>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                <input type="text" ng-model="addonService.lump_fee" class="form-control" placeholder="Fee of charge" ng-disabled="addonService.is_lump_accepted=='NO'">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Weekly Fee Accepted?</label>
                        <div class="col-md-6">
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_weekly_accepted" ng-model="addonService.is_weekly_accepted" value="YES" />YES</label>
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_weekly_accepted" ng-model="addonService.is_weekly_accepted" value="NO" />NO</label>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                <input type="text" ng-model="addonService.weekly_fee" class="form-control" placeholder="Fee of charge" ng-disabled="addonService.is_weekly_accepted=='NO'">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Monthly Fee Accepted?</label>
                        <div class="col-md-6">
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_monthly_accepted" ng-model="addonService.is_monthly_accepted" value="YES" />YES</label>
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_monthly_accepted" ng-model="addonService.is_monthly_accepted" value="NO" />NO</label>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                <input type="text" ng-model="addonService.monthly_fee" class="form-control" placeholder="Fee of charge" ng-disabled="addonService.is_monthly_accepted=='NO'">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Annual Fee Accepted?</label>
                        <div class="col-md-6">
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_annual_accepted" ng-model="addonService.is_annual_accepted" value="YES" />YES</label>
                            <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_annual_accepted" ng-model="addonService.is_annual_accepted" value="NO" />NO</label>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-dollar"></span></span>
                                <input type="text" ng-model="addonService.annual_fee" class="form-control" placeholder="Fee of charge" ng-disabled="addonService.is_annual_accepted=='NO'">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label col-md-4">Is On Shelf</label>
                            <div class="col-md-6">
                                <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_on_shelf" ng-model="addonService.is_on_shelf" value="YES" />YES</label>
                                <label><input icheck checkboxClass="icheckbox_square-green" radioClass="iradio_square-green" type="radio" name="is_on_shelf" ng-model="addonService.is_on_shelf" value="NO" />NO</label>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <button class="btn btn-success btn-block col-md-offset-4" ng-click="update()">UPDATE</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

</div>