<!-- First Row -->

<div class="row panel-body">

    <!-- My Profile -->
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <!-- Success panel contents -->
            <div class="panel-heading text-center"><strong><span class="fa fa-user-secret">&nbsp;</span>My Profile</strong></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">Role</label>
                        <div class="col-md-6">
                            <p class="form-control-static">{{ manager.role }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Account</label>
                        <div class="col-md-6">
                            <p class="form-control-static">{{ manager.account }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">New Password</label>
                        <div class="col-md-6">
                            <input class="form-control" type="password" placeholder="Leave blank if you don't want to change" ng-model="manager.new_password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Original Password</label>
                        <div class="col-md-6">
                            <input class="form-control" type="password" ng-model="manager.original_password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">First name</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="manager.first_name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Last name</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text"  ng-model="manager.last_name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Email</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text"  ng-model="manager.email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Mobile</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text"  ng-model="manager.mobile" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Landline</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text"  ng-model="manager.landline" />
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <button type="submit" class="btn btn-success btn-block col-md-offset-4" ng-click="updateMyProfile(manager)">UPDATE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>